# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
venv/
env/
*.env
.env.*
.venv/

# Ignore distribution/build directories
build/
dist/
*.egg-info/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore local settings
*.local
*.log
*.tmp

# Ignore data files
data/
*.csv
*.parquet

# Ignore git files
.git/
.gitignore

# Ignore IDEs and editor files
.vscode/
.idea/
.DS_Store