# Включаем все продакшен-зависимости
-r requirements.txt

# файл ограничений для Airflow
--constraint "https://raw.githubusercontent.com/apache/airflow/constraints-2.9.2/constraints-3.12.txt"

apache-airflow[docker,postgres]==2.9.2
ipython==8.25.0